matplotlib==3.2.0rc1
backtrader~=1.9.76.123
optuna
optunity
backtrader_plotting
requests~=2.26.0
dask-optuna
pandas~=1.3.5
sqlalchemy
joblib
#python3-tk
python-dateutil~=2.8.2
beautifulsoup4~=4.10.0
lxml
requests
cssselect
future
web3